<html>

<head>

<style>
table, th , td {
  border: 1px solid gray;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
</style>


<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>

<body>

<div ng-app="myapp" ng-controller="mycontrol">


<script>

var app = angular.module('myapp' , []);

app.controller('mycontrol', function($scope){

$scope.count = 1;
$scope.number = 5;
$scope.getNumber = function(num) {
    return new Array(num);   
}

}

);



</script>


<button ng-click= "count = count+1 "> + </button>
<button ng-click= "count = count-1 "> - </button>

<button ng-click= "count = 1 "> Reset </button>




<p>{{"Table of " + (count) | uppercase}}</p>

<table>
<tr ng-repeat="x in getNumber(10) track by $index">
<td> {{ count + " x " + ($index+1) }}</td>
<td>{{ count*($index+1)}} </td>
</tr>
</table>




</div>
</body>


</html>
